// -----------------------------------------------------------------------------
// This file contains all styles related to the Asset component.
// -----------------------------------------------------------------------------

.asset {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
