// -----------------------------------------------------------------------------
// This file contains all styles related to the ImageBox component.
// -----------------------------------------------------------------------------

.image-box {
  
  display: flex;

  .image {
    max-height: 200px;
    max-width: 200px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
